.font-semibold {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.texto1{
    text-align: center;
}
.texto2{
    text-align: center;
}
.card-title{
    font-size: 25px;
    font-weight: bold;
}